.btn {
    width: fit-content;
    white-space: nowrap;
    padding: 8px 24px 8px 24px;
    border-radius: 24px;
    background-color: var(--buttonColor);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.disable {
    border: red;
    color: red;
    background-color: rgba(255, 100, 100, 0.295);
}

@media (max-width: 400px) {
    .btn{
        font-size: 13px;
    }
    
}