
.lot {
    width: 20vw;
    height: 20vh;
    position:relative;
    text-align: center;
    margin: 10px;
    border: 10px solid green;
    overflow: hidden;
    transition: 1s ease all;
    text-decoration:none;
    color:black;
}


.lot-image {
    width: inherit;
    height: 50%;
    width: 100%;
    transition: 1s ease all;
}
.lot-info{
    display:flex;
    gap:20px;
}
.lot-info p{
    background-color: gray;
    white-space: nowrap;
    overflow: hidden;
}
.lot-title{
    align-self: center;
    font-size: 1.5rem;
    height: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.lot-price{
    font-size: 1rem;
    justify-self:right; 
}

    .lot.hot {
        background-color: red;
    }

.lot:hover {
    padding: 5px;
    margin: 5px;
    background-color:yellow;
}
.lot.hot:hover {
    border: solid red 2px;
}

.lot:hover .lot-image {
    width: calc(8vw + 10px)
}
.lot:hover .lot-title {
    font-size:1.6rem;
}
    .lot:hover .lot-price {
        font-size: 1.1rem;
    }