.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 21vw;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;

}

.header {
    display: flex;

    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    padding: 24px;
}

.header > .user {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}

.header > .user > span{
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}

.avatar {
    width: 52px;
    height: 52px;
    border-radius: 40px;
}

.body{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 12px;
}

.lots{
    min-height: 10vh;
}

@media(max-width: 768px){
    .body{
        display: flex;
        flex-direction: column;
    }

    .header{
        overflow-x: auto;
        padding: 12px;
    }

    .header > .header{
        align-items: center;
    }
}