/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: var(--white);
  background-color: #1b6ec2;
  border-color: #1861ac;
}
body {
  background-color: var(--gray);
}

:root {
  --gray: #f8f8f8;
  --white: #fff;
  --black: #373b3e;
  --strongGreen: #7ad26c;
  --subtleGreen: rgba(122, 210, 108, 0.1);
  --textColor: #1c1b1f;
  --secondaryTextColor: #6e6e6e;
  --itemContainerColor: #e7eef2;
  --borderColor: #ebebeb;
  --borderSecondary: #474747;
  --buttonColor: #1c1b1f;
  --f9: #f9f9f9;
  --red: #b42318;
}
