.profile-error{
    display: block;
    text-align: center;
    margin: auto;
    color:  rgba(33, 197, 33, 0.8);
    font-size: 9rem;
    margin-top: 20vh;

}
.profile-error span:hover{
    transition: 1s all ease;

    color: rgb(212, 100, 100);
}