.container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 220px;
    gap: 0.7vw;
    text-align: center;
}

img{
    padding: 0 0 2px 0;
}

.btn{
    border: 1px solid #EDEDED;
    border-radius: 50px;
    background: linear-gradient(0deg, #F9F9F9, #F9F9F9), linear-gradient(0deg, #EDEDED, #EDEDED);
    padding: 12px 20px 12px 16px;
}
