.sideThing {
  padding: 20px;
  width: 60vw;
  border-radius: 24px;
  background-color: var(--white);
  margin-bottom: 30px;
}
.rigthThing{
  width:30vw;
}
.cont {
  display: flex;
  gap: 20px;
}

.sides {
  display: flex;
  justify-content: space-between;
}
.shortDesc {
  width: auto;
  /* text-overflow: clip; */
  text-wrap: wrap;
  overflow: hidden;
}
svg {
  width: 24px;
  height: 24px;
}

.splitContainer {
  width: auto;
  background-color: var(--white);
  padding: 20px;
  border-radius: 24px;
  margin-bottom: 30px;
}

.splitContainer p {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.splitContainer hr {
  color: var(--gray);
  border: 2px solid var(--gray);
  margin-left: -20px;
  margin-right: -20px;
}
.lotChars {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: min(40vw 100%);
  flex-direction: column;

}
.lotChars div {
  display: flex;
  width: inherit;
  overflow: hidden;
  justify-content: space-between;
}

.lotChars span {
  min-width: 100px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.lotChars span:nth-child(2n) {
  font-weight: bold;
}
.buyBtn {
  width: 168px;
  height: 40px;
  padding: 8px 24px;
  gap: 8px;
  border-radius: 40px;
  background-color: var(--WHY);
  color: var(--white);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.price {
  font-family: Manrope;
  font-size: 64px;
  font-weight: 600;
  line-height: 38.4px;
  text-align: left;
  size:2em;
}
.priceTag {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--borderSecondary);
  margin-bottom: 0;
}
.priceCont {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width:769px) {
  .sides {
  }
  .cont {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
  }
  .sideThing{
    width: 90vw;
  }
  .rigthThing{
    width: 90vw;
  }
  .lotChars{
    width: inherit;
  }
  .lotChars div{
    width: inherit;
  }
}
.big{
  max-width: 100vw;
  overflow: hidden;
}

.report{
  cursor: pointer;
  color: red;
}
