.pagesNav {
    margin: auto;
    max-width: 10vw;
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.pageCurrent {
    border: 2px solid orange;
    font-weight: bold;
}
