.pagesNav {
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.pageCurrent {
    border: 2px solid orange;
    font-weight: bold;
}
