.pagesNav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    gap: 0.5vw;
}

.ellipsis, .page{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
}

.page {

    border: 1px solid var(--borderSecondary);
    border-radius: 30px;
    cursor: pointer;
}

.ellipsis{
    font-weight: bold;
    font-size: medium;
}

.pageCurrent {
    border: 2px solid orange;
    font-weight: bold;
}
