.container{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.item{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 50%;
}

@media (max-width: 380px) {
    .container{
        flex-wrap: wrap;
        gap: 20px;
    }

    .item{
        width: 100%;
    }
    
}