.btn:hover {
    cursor: pointer;
}

.btn{

    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsmall{
    width: 32px;
    height: 32px;

    background-color: var(--gray);
    padding: 4px;
    border-radius: 40px;
}