.lot {
  position: relative;
  min-height: 177px;
  padding: 16px;
  display: flex;
  gap: 24px;
  border-radius: 24px;
  background: #fff;
}

.lotText {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  width: 100%;
}

.lotTitle {
  display: flex;
  color: #1c1b1f;
  align-items: baseline;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  gap: 12px;
  margin-bottom: 0.3vw;

}

.lotDesc {
  color: #474747;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 368px;
  max-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lotInfo {
  display: flex;
}

.lotInfo p {
  display: flex;
  padding: 4px 12px 4px 4px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #f8f8f8;
}

.lotInfo svg {
  width: 20px;
  height: 20px;
}

.lotImage {
  width: 145px;
  height: 145px;
  border-radius: 18px;
}

.arrowOutward {
  position: absolute;
  top: 16px;
  right: 16px;
}

.desc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  padding: 24px 16px;
  background-color: var(--gray);
  border-radius: 12px;
  margin-bottom: 10px;
}

.bid p {
  margin: 0;
}

.bid span {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;

}

.winner {
  padding: 16px;
  background-color: #7AD26C1A;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.winner>.title {
  display: flex;
  gap: 0.5vw;
  align-items: center;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;

}

.winner>p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

}