a.navbar-brand {
  display: flex;
  white-space: normal;
  text-align: center;
  word-break: break-all;

  color: #111;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
}
.nav-item{
  margin:auto;
}

.nav-right{
  flex-direction: row;
  width: max-content;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.avatar{
  width:25px;
  height: 25px;
  transition: all 1s ease;
  border-radius: 50%;
  padding: 2.5px;
}

.avatar:hover{
  width: 25px;
  padding: 0;
  height: 25px;
  background-color: rgba(32, 219, 188, 0.7);
}

