.categoriesContainer {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow-x: auto;
}

.category-item-container {
  display: flex;
  padding: 8px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 90px;
  border: 1px solid #6b6b6b;

  background: #fff;
}

.selected {
  border: 1px solid rgba(235, 235, 235, 1);
  background-color: rgba(255, 255, 255, 1);
  color: var(--textColorSecondary)
}

@media (max-width:380px) {
  .categoriesContainer {
    gap: 12px
  }

}