@import "~react-image-gallery/styles/css/image-gallery.css";

label.search{
    font-family: Manrope;
    font-size: 50px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

p.search{
    position: absolute;
    top: 5%;
    left:5%;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    max-width: 70%;
    color: white; 
}


div.search{
    background-color: white;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 24px;
    display: grid;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 24px;
    gap: 18px
}

