.input {
    flex-grow: 1;
    padding: 5px;
    margin: 5px 18px 0 10px;
    border: 0;
}

.button{
    width: 10%;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 24px;
}

.search{
    display: flex;
    justify-content: space-between;
}
