.container,
.containerVer,
form {
  display: flex;
  flex-wrap: nowrap;
}

.container {
  gap: 1.5vw;
}

.containerVer {
  flex-direction: column;
  gap: 1vw;
}

form {
  gap: 1.5vw;

  flex-direction: column;
  justify-content: space-between;
}

.form{
  width: 450px;
}

.contBlock {
  margin: auto;
}

h2 {
  margin-bottom: 24px;
}

.text {
  display: inline-flex;
  justify-content: end;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: var(--textColor);
}

.secondaryTxt {
  color: var(--secondaryTextColor);
}
