.sideThing{
    padding: 20px;
    width: 640px;
    border-radius: 24px;
    background-color: white;
}
.cont{
    display: flex;
}

.sides{
    display: flex;
    justify-content: space-between;
}

svg{
    width: 20px;
    height: 20px;
}