footer {
    margin-top: 5vw;
    background: #242424;
    color: white;
    padding: 3vw 8vw 1vw 8vw;
    text-align: center;
    font-family: Manrope;
    align-self: stretch;
}

span {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.container p,
a {
    cursor: pointer;
    text-decoration: none;
}

.container>.menu2>a {
    color: white !important;

}

.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
}

.menu2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5vw;
}

.menuItem {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 150px;
    margin-bottom: 1vw;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
    max-width: 50%;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;
    }

    .border {
        border-bottom: 1px solid #EBEBEB1A;
    }

    .description {
        max-width: 100%;
        gap: 3vw;
    }

    .footer {
        text-align: end;
    }

    .menu2 {
        gap: 12px
    }

}

@media (max-width: 380px) {

    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 27.32px;
    }

    h4{
        font-size: 14px;
    }

    a{
        font-size: 14px;
        font-weight: 400;
    }

    .container{
        margin-bottom: 24px
    }
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .border {
        border-bottom: 1px solid #EBEBEB1A;
    }

    .description {
        max-width: 100%;
        gap: 3vw;
    }

    footer{
        padding: 24px 20px;
        text-align: start !important;
        
    }

    .menu2 {
        gap: 12px;
        white-space: nowrap;
    }

}