/* Adjustments for 3.5 items visible */
.carouselContainer {
  /* Adjust based on your design */
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
}

.carouselSlide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1.5vw;
}

.carouselItem {
  /* Adjust so 3.5 items are visible */
  box-sizing: border-box;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.prevBtn,
.nextBtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;

  z-index: 100;

  width: 42px;
  height: 42px;
  align-items: center;
  border-radius: 40px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.shine {
  height: 338px;
  width: 20px;
  box-shadow: 0 0 25px var(--white);
  position: absolute;
  right: -20px;
}
.lotheader {
}

@media screen and (max-width: 376px) {
  .lotheader {
    display: flex;
    justify-content: space-between  ;

  }
  .lotheader a{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.12px;
    text-align: left;
    text-decoration: none;
    color: var(--textColor);
  }
  .lotheader h2 {
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.59px;
    text-align: center;
  }
}
