/* Adjustments for 3.5 items visible */
.carouselContainer {
  /* Adjust based on your design */
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carouselSlide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carouselItem {
  flex: 0 0 calc(100% / 3.5);
  /* Adjust so 3.5 items are visible */
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.prevBtn,
.nextBtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;

  z-index: 100; 

  width: 42px;
  height: 42px;
  align-items: center;
  border-radius: 40px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 1vw
}