.mainCont {
  width: 408px;
  padding: 18px 24px 18px 24px;
  border-radius: 24px;
  justify-content: space-between;
  display: flex;
  background-color: var(--itemContainerColor);

  align-items: center;
}
.catCont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.catCont p {
  margin: 0;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--textColor);
}
.catCont svg {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 24px;
}
.button {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  transition: all 0.5s ease;
}
.button:hover{
    color: var(--strongGreen);
}
