.filterContainer {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  gap: 20px;
}
.filterItem {
  display: grid;

  gap: 10px;
  
}
input,
select,
input:focus,
select:focus {
  border: none;
  outline: none;
}

.priceContainer {
  display: flex;
  gap: 10px;
}
.inputEl {
  background-color: white;
  display: flex;
  border-radius: 50px;
  padding: 10px;
  max-height: 45px;
  min-width: 100px;
}
select.inputEl{
    width: 250px;
}
.inputEl input{
    width: 50px;
}

select.inputEl, select.inputEl:focus{
  width: 290px;
}
