.fle {
  display: flex;
  justify-content: space-between;
}
.def {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
  text-align: left;
}
.user {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.12px;
  text-align: right;
}
