.gUs{
    display: flex;
}
.gUs img{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}
.gUs div span{
    color: var(--textColor);
    font-weight: 700;
    line-height: 21.86px;
    font-size: 16px;
}