div.loader {
    width: 120px;
    height: 20px;
    -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20% 100%;
    background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
    animation: l17 2s infinite steps(6);
}

@keyframes l17 {
    100% {
        background-size: 120% 100%
    }
}