
.lotsContainer{
    display: flex;
    gap: 16px;
    height: 563px;
    overflow-y: auto;
}
.lotsContainer.grid{
    flex-wrap: wrap;

}
.lotsContainer.grid div:has(img){
  width: 612px;

}
.lotsContainer.list div:has(img){
    width: 100%;
  
  }
.lotsContainer.list{
    flex-wrap: wrap;
    height: auto;
    
}