.lotsContainer {
  display: flex;
  gap: 16px;
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list {
  flex-wrap: nowrap;
  height: auto;
  flex-direction: column;
}

.listWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: 768px){
  .listWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;

  }
}

@media(max-width: 380px){
  .listWrap{
    grid-template-columns: 1fr;
  }
}