.lot {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0px 4px 14px 0px #0000001a;
  background-color: #ffffff;
  max-width: 301px;
}

.image {
  width: 269px;
  height: 180px;
  border-radius: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.bottom {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.desc {
  color: #474747;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 269px;
  height: 48px;
  margin-top: -8.5px;
  overflow: hidden;
  text-overflow: ellipsis;


  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  height: calc(line-height * 2);
  color: var(--secondaryTextColor);
}

.text {
  display: flex;
  flex-direction: row;
  gap: 0.4vw;
  align-items: center;
  width: fit-content;

  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  

  color: var(--textColor);
  background-color: var(--gray);
  padding: 4px 16px 4px 4px;
  border-radius: 40px;
}

.text > svg{
  border-radius: 40px;
  background-color: white;
  padding: 1px;
}

.dots {
  position: absolute;
  right: 30px;
  top: 20px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5vw;
}

.thing {
  position: absolute;
  right: 0px;
  width: 217px;
  height: 200px;
  z-index: 200;
  border-radius: 24px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thing p,
.thing a {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--textColor);
  text-decoration: none;
}

.thing p.delete {
  color: var(--red);
}
.thing > p, .thing > a:hover{
  cursor: pointer;
}

.bid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  padding: 24px 16px;
  background-color: var(--gray);
  border-radius: 12px;
  margin-bottom: 10px;
}

.bid p {
  margin: 0;
}

.bid span {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;

}

.winner {
  padding: 16px;
  background-color: #7AD26C1A;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.winner>.title {
  display: flex;
  gap: 0.5vw;
  align-items: center;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;

}

.winner>p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

}