.filterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f8f8f8;
    gap: 10px;
    flex-wrap: wrap;
}

.filterItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterCont {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    gap: 10px;
}

input,
select,
input:focus,
select:focus {
    border: none;
    outline: none;
    width: 100%;
}

.priceContainer {
    display: flex;
    gap: 10px;
}

.inputEl {
    background-color: white;
    display: flex;
    border-radius: 50px;
    padding: 10px;
    max-height: 45px;
}

.inputEl.price {
    max-width: 50%;
}

.input{
    background-color: white !important;
}

@media (max-width: 768px) {
    .filterContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative; /* Needed to properly position the pseudo-element */
    }
    
    .filterContainer::after {
        content: ""; /* Required for the pseudo-element to be generated */
        display: block; /* Makes it a block-level element, like <hr> */
        width: 100%; /* Match the width of the container */
        height: 1.5px; /* Height of the horizontal line */
        background-color: var(--borderColor); /* Color of the line, can be adjusted as needed */
        position: absolute;
        bottom: -15px; /* Position at the bottom of the container */
        left: 0; /* Align to the left edge of the container */
    }
}

@media (max-width: 380px) {
    .filterContainer {
        grid-template-columns: 1fr;
    }
    
}